body {
	margin: 0;
}


.blocpage {
	width: 100%;
	display: flex;
	margin:0px;
	overflow: hidden;
	margin-left:-1%;
	margin-right:-1%;
}

/*header*/
header {
	width:100%;
	display:flex;
	flex-direction: column;
	background-color: #009688;
	margin-top:-1%;
}


h1 {
	width:100%;
	text-align: center;
	font-family: 'Rubik';
	font-weight:bold;
    color:#FDD835;
}

#searchbar {
	width:100%;
	display: flex;
	flex-direction:row;
	background-color: #F5F5F5;
}

i {
	width:1.5%;
	margin-left:6px;
	color:#616161;
}

input {
	width:98.5%;
	background-color: #F5F5F5;
}

/*body*/
h2 {
	background: linear-gradient(to right,#DD2C00,#9C6B96,#6752C5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
        font-size:20%;
}

article {
	width:65%;
	margin:auto;
	margin-bottom:20%;
    font-family: 'Bellota', cursive;
    background-color:#FDF5FD;
    transform: scale(1);
    box-shadow:6px 6px 30px black;
    padding-bottom:2%;
}

article p {
	font-size:22px;
}

article h3 {
	font-size:25px;
}

hr {
    width : 200px;
}
a.bottom
{
    position: relative;
    color:black;
}

a.bottom:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  bottom: -2px;
  left: 0;
  background-color: black;
  opacity:0.1;
  visibility: hidden;
  transition: all 1s ease-in-out;
}


a.bottom:hover:before {
  visibility: visible;
  width: 100%;
  height: 3px;
}

a {
	text-decoration:none;

}


#maintitle {
	width:100%;
	display:flex;
	flex-direction: column;
	margin:auto;
}

#maintitle h2 {
	width:100%;
}

#maintitle i {
	width:100%;
	font-size:50px;
	text-align:center;
	padding-top:5%;
	color:#DD2C00;
}

 /*partie 1*/

#mettreappétit {
	color:#BC772E;
	margin-bottom:10%;
}

#mettreappétittitle {
	display:flex;
	width:100%;
	flex-direction: row;
	padding-left:4%;
	margin-left:2%;
	color:#BC772E;
	justify-content: center;
}

#mettreappétittitle h3 {
	text-align:center;
	padding-left:3%;
	margin:auto;
	width:60%;
	color:#BC772E;
}

#mettreappétittitle a {
	color:#BC772E;
	text-decoration:none;
}

#mat1 {
	width:25%;
	padding-left:2%;
	padding:4% 0 4% 0;
}

#mat2 {
	width:25%;
	padding:4% 3% 4% 0%;
	margin-left:4%;
	margin-right:7%;
}

#mat1 hr, #mat2 hr {
	border-top : 3px solid #BC772E;
}

.mettreE {
	display:flex;
	width:100%;
	flex-direction:row;
}

.mm {
	flex-direction:row;
	width:90%;
	padding-left:2%;
	line-height: 3px;
}

.mp {
	width:10%;
	flex-direction:row;
	text-align:justify;
	line-height: 3px;
}


/*partie 2*/

#papilles {
	color:#9C6B96;
	margin-bottom:10%;
}

#papillestitle {
	display:flex;
	width:100%;
	flex-direction: row;
	justify-content:center;
}

#papillestitle a {
	color:#9C6B96
}

#pt1 {
	width:25%;
	padding:4% 2% 4% 2%;
	margin-right: 4%;
}

#pt2 {
	width:25%;
	padding:4% 0 4% 2%;
	margin-left:5%;
}

#pt1 hr, #pt2 hr {
	border-top : 3px solid #9C6B96;
}

.papilleE {
	display:flex;
	width:100%;
	flex-direction:row;
}

.pm {
	flex-direction:row;
	width:90%;
	padding-left:2%;
	line-height: 3px;
}

.pp {
	width:10%;
	flex-direction:row;
	text-align:justify;
	line-height: 3px;
}



/*partie 3*/

#gourmandises {
	color:#6752C5;
	margin-bottom:10%;
}

#gourmandisestitle {
	display:flex;
	width:100%;
	flex-direction: row;
    justify-content:center;
}

#gourmandisestitle a {
	color:#6752C5;
}

#gt1 {
	width:25%;
	padding:4% 2% 4% 2%;
	margin-right:4%;
}

#gt2 {
	width:25%;
	padding:4% 0% 4% 0%;
	margin-left:8%;
}

#gt1 hr, #gt2 hr {
	border-top : 3px solid #6752C5;
}




#gourmandisesensemble {
	display:flex;
	width:100%;
	justify-content: space-between;
	margin:auto;
	line-height:45px;
	font-size:medium;
}

#gourmandisesmenu {
	width:90%;
	padding-left:2%;
	text-align:center;
	margin-bottom: 10%

}

#gourmandisemenu p {
    line-height: 30px;
}

h2 {
	text-align:center;
}

h3 {
	text-align:center;
}

 .lead {
  display: flex;
}

/*footer*/



footer {
	width:100%;
	display:flex;
	background-color:#009688;
	font-family: 'Rubik';
	color: #FDD835;
	margin-bottom:-1%;
	position: fixed;
    bottom: 0;
}

footer p {
	font-size:15px;

}

nav {
	display:flex;
	width:100%;
	font-size: x-large;
}

#mentionslégales {
	width:50%;
    padding-left:2%;
}

#mentionlégaltext {
	width:100%;
	padding-top:3%;
	padding-bottom:3%;
	font-family: 'Rubik';
}

#contact {
	width:50%;
	text-align:right;
	padding-right:2%;
}



.afooter {
	text-decoration:none;
	font-weight:bold;
	color: #FDD835;
	text-decoration:none;
}

footer p:hover {
  animation: julespariot 0.8s;
  animation-iteration-count: infinite;
}

@keyframes julespariot {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-2px, 0px) rotate(1deg); }
  30% { transform: translate(2px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-2px, 1px) rotate(0deg); }
  70% { transform: translate(2px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

/*media queries*/


@media only screen and (max-width: 1300px){

	article {
		width:70%;
	}

	article p {
		font-size : 20px;
	}

	article h3 {
		font-size:20px;
	}

	.papillestitle {
		padding-left:2%;
	}

	.gourmandisestitle {
		margin-left:2%;
	}
}

@media only screen and (max-width: 1100px){


	article p {
		font-size : 19px;
	}
}

@media only screen and (max-width: 1000px){

	article {
		width:75%;
		font-size:18px;
	}

	hr {
    width : 120px;
    border-top : 2.5px solid #000;
   }
}


@media only screen and (max-width: 900px){

	article {
		width:80%;
	}

	article p {
		font-size : 18px;
	}

	article h3 {
		width : 100%;
	}

	hr {
		display:none;
	}

	#mentionslégales {
	font-size:20px;
	}

    #contact {
	font-size:20px;
	}


	.mettreE {
   	flex-direction:column;
   }

   .mm {
   	width:98%;
   	text-align:center;
   }

   .mp {
   	width:100%;
   	text-align:center;
   }


    .papilleE {
   	flex-direction:column;
   }

   .pm {
   	width:98%;
   	text-align:center;
   }

   .pp {
   	width:100%;
   	text-align:center;
   }


}


@media only screen and (max-width: 800px){

	main h1 {
		font-size:30px;
	}

	article {
		width:85%;
			}

	hr {
    width : 100px;
    border-top : 2.5px solid #000;
   }

   article h3 {
		font-size:18px;
	}

	.papillestitle{
		margin-left:-2%;
	}

	.gourmandisestitle  {
		margin-left:-2%;
	}
}

@media only screen and (max-width: 700px){

	article {
		font-size:17px;
	}
}

@media only screen and (max-width: 600px){

	article {
		width:90%;
		font-size:14px;
		margin-bottom:20%;
	}

    article p {
		font-size : 16px;
	}

	hr {
    width : 80px;
    border-top : 1.5px solid #000;
   }

   	#mentionslégales {
	font-size:18px;
	}

    #contact {
	font-size:18px;
	
}

}

@media only screen and (max-width: 550px){

	article {
		font-size:15px;
	}

	article p {
		font-size : 15px;
	}


	hr {
    width : 80px;
    border-top : 2px solid #000;
   }

    header i {
   	font-size:1px;
   	display:none;
   }
}

@media only screen and (max-width: 450px){

	article {
		height:70%;
		font-size:13px;
	}

	article h3 {
		font-size:12px;
	}

	article p {
		font-size:x-small;
		line-height: 12px;
	}
}
